body {
   margin: 0;
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   color: #6c7279;
   -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0, 0, 10px;
}


/* Container
==============*/

.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}


/* Header
==============*/

.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
}

.header.fixed {
   height: auto;
   position: fixed;
   background-color: #31344e;
}

.header.fixed .header__inner {
   padding: 15px 0;
   border-bottom: 0;
   transition: .1s linear;
}
.header__inner {
   display: flex;
   justify-content: space-between;
   padding: 35px;
   align-items: center;
   border-bottom: 1px solid #515369;
}


/* Nav
==============*/

.nav {
   display: flex;
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
}

.nav__link {
   opacity: 0.75;
   text-decoration: none;
   color: #fff;
   margin-left: 50px;
   transition: opacity .2s linear;
}

.nav__link:first-child {
   margin-left: 0;
}

.nav__link:hover {
   opacity: 1;
}


/* Intro
================*/

.intro {
   display: flex;
   height: 750px;
   padding-top: 100px;
   justify-content: center;
   flex-direction: column;
   background: #31344e url("../images/intro-bg.jpg") no-repeat center;
   background-size: cover;
}

.intro__inner {
   max-width: 970px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
}

.intro__title {
   font-family: 'Open Sans', sans-serif;
   font-size: 65px;
   color: #fff;
   font-weight: 700;
   line-height: 1.1;
   text-transform: uppercase;
   margin: 0 0 30px;
}

.intro__subtitle {
   font-size: 22px;
   color: #fff;
   line-height: 1.5;
   font-weight: 400;
   margin-bottom: 60px;
}


/* Button
===================*/

.btn {
   display: inline-block;
   vertical-align: top;
   padding: 14px 40px;
   border-radius: 2px;
   border: 0;
   cursor: pointer;
   font-family: 'Raleway', sans-serif;
   font-size: 13px;
   color: #fff;
   font-weight: 600;
   text-transform: uppercase;
   text-decoration: none;
   transition: background .1s linear;
}

.btn--long {
   min-width: 280px;
}

.btn--red {
   background-color: #e84545;
}

.btn--red:hover {
   background-color: #dd3434;
}


/* Features
================*/

.features {
   margin: 85px 0;
   display: flex;
   flex-wrap: wrap;
}

.features__item {
   width: 33.33333%;
   text-align: center;
   padding: 0 22.5px;
   margin: 35px 0;
}

.features__icon {
   margin-bottom: 25px;
}

.features__title {
   margin-bottom: 20px;
   color: #2d3033;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
}

features__text {
   line-height: 1.5;
   color: #6c7279;
   font-size: 14px;
}


/*Works
=============*/

.works {
   display: flex;
   flex-wrap: wrap;
}

.works__item {
   border-bottom: 1px solid #fff;
   border-right: 1px solid #fff;
   width: 25%;
   height: 350px;
   position: relative;
   overflow: hidden;
}

.works__item:hover .works__content {
   opacity: 1;
}

.works__photo {
   min-width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1;
   transform: translate3d(-50%, -50%, 0);
}

.works__content {
   transition: opacity .2s linear;
   opacity: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   width: 100%;
   height: 100%;
   background-color: rgba(232, 69, 69, .9);
   position: absolute;
   top: 0;
   left 0;
   z-index: 2;
}

.works__title {
   margin-bottom: 5px;
   font-size: 14px;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
}

.works__text {
   font-size: 14px;
   color: #fff;
}


/* Team
===============*/

.team {
   margin: 100px 0 70px;
}

.team__inner {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -15px;
}

.team__item {
   width: 25%;
   padding: 0 15px;
   margin-bottom: 30px;
}

.team__photo {
   margin-bottom: 20px;
   display: block;
   width: 100%;
   height: auto;
}

.team__name {
   font-size: 22px;
   color: #2d3033;
   margin-bottom: 8px;
}

.team__prof {
   margin-bottom: 15px;
   font-size: 13px;
   color: #e84545;
   text-transform: uppercase;
}

.team__text {
   font-size: 14px;
   line-height: 1.5;
   color: #6c7279;
   margin-bottom: 20px;
}


/*Social
================*/

.social {
   display: flex;
}

.social--footer {
   justify-content: center;
}

.social__item {
   display: flex;
   width: 40px;
   height: 40px;
   justify-content: center;
   align-items: center;
   border: 1px solid #e8ecee;
   margin-right: 4px;
   background-color: #fff;
   transition: background .1s linear;
}

.social__item:hover {
   background-color: #e8ecee;
}

.social__item:hover .social__icon {
   fill: #000;
}

.social--footer .social__item {
   background-color: transparent;
   border: 2px solid #ffffff;
   border-radius: 2px;
}

.social--footer .social__item:hover {
   background-color: #fff;
}

.social__icon {
   display: block;
   height: 18px;
   fill: #c6cacc;
   transition: fill .1s linear;
}

.social--footer .social__icon {
   fill: #fff;
}


/* Reviews
=====================*/

.reviews {
   overflow: hidden;
   background-color: #53354a;
}

.reviews__slider {
   height: 500px;
   overflow: hidden;
}

.reviews__item {
   display: flex;
   flex-wrap: wrap;
}

.reviews__photo {
   width: 50%;
   height: 500px;
   position: relative;
}

.reviews__img {
   position: absolute;
   top: 50%;
   right: 0;
   z-index: 1;
   transform: translateY(-50%);
}

.reviews__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 50%;
   padding-left: 80px;
}

.reviews__text {
   font-family: 'Cardo', sans-serif;
   font-size: 36px;
   font-style: italic;
   line-height: 1.2;
   color: #fff;
   margin-bottom: 25px;
}

.reviews__author {
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff;
}


/* Download
=======================*/

.download {
   margin: 100px 0;
   text-align: center;
}

.download__title {
   margin-bottom: 5px;
   font-size: 28px;
   color: #2d3033;
   font-weight: 300;
}

.download__text {
   margin-bottom: 30px;
   font-size: 13px;
   font-weight: 700;
   text-transform: uppercase;
   color: #2d3033;
}


/* Footer
=============================*/

.footer {
   background-color: #3a3e64;
}

.footer__inner {
   padding: 70px 0;
   display: flex;
   flex-wrap: wrap;
}

.footer__block {
   width: 33.33333%;
   padding: 0 15px;
   text-align: center;
}

.footer_title {
   margin-bottom: 20px;
   font-size: 14px;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
}

.footer_address {
   color: rgba(255, 255, 255, .5);
   font-size: 14px;
   font-style: normal;
   line-height: 1.5;
}

.footer__text {
   color: rgba(255, 255, 255, .5);
   font-size: 14px;
   line-height: 1.5;
}

.copyright {
   background-color: #313454;
   padding: 20px 0;
   text-align: center;
}

.copyright__text {
   font-size: 14px;
   line-height: 1.5;
   color: #808080;
}

span {
   color: #fff;
}


/*burger*/

.burger {
   display: none;
   background: none;
   border: 0;
   cursor: pointer;
   padding: 9px 4px;
}

.burger__item {
   display: block;
   width: 28px;
   height: 3px;
   background-color: #fff;
   font-size: 0;
   color: transparent;
   position: relative;
}

.burger__item:before,
.burger__item:after {
   content: "";
   width: 100%;
   height: 100%;
   background-color: #fff;
   position: absolute;
   right: 0;
   z-index: 1;
}

.burger__item:before {
   top: -8px;
   width: 30px;
}

.burger__item:after {
   bottom: -8px;
   width: 26px;
}


/* Media
=================*/

@media (max-width: 1300px) {
   /* works */
   .works__item {
      width: 50%;
   }
}

@media (max-width: 991px) {
   /* intro
==============*/
   .intro__title {
      font-size: 40px;
   }
   /* Nav
==============*/
   .nav {
      display: none;
      width: 100%;
      flex-direction: column;

      text-align: right;
      background-color: #31344e;

      position: absolute;
      right: 0;
      top: 100%
   }

   .nav.show {
      display: flex;
   }

   .nav__link {
      padding: 10px 15px;

   }

   /* burger */
   .burger {
      display: block;
   }
   /* Features
==============*/
   .features__item {
      width: 50%;
   }
   /*Team*/
   .team__item {
      width: 50%;
      text-align: center;
   }
   .team__photo {
      margin-left: auto;
      margin-right: auto;
   }
   .social {
      justify-content: center;
   }
   /*Reviews*/
   .reviews__photo {
      width: 100%;
      margin: 15px 0 40px;
      overflow: hidden;
   }
   .reviews__content {
      width: 100%;
      padding-left: 0;
      padding-bottom: 40px;
   }
}

@media (max-width: 767px) {
   .intro {
      height: auto;
      padding-top: 130px;
      padding-bottom: 30px;
   }
   .intro__title {
      font-size: 30px;
   }
   .intro__subtitle {
      font-size: 16px;
      margin-bottom: 30px;
   }
   /* Features
   ==============*/
   .features {
      margin: 40px 0;
   }
   .features__item {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
   }
   /* works */
   .works__item {
      width: 100%;
      height: 300px;
   }
   /*Team*/
   .team {
      margin: 60px 0 30px;
   }
   .team__item {
      width: 100%;
   }

   /*Reviews*/
   .reviews__text {
      font-size: 25px;
   }

   /* Download */
   .download {
      margin: 50px 0;
   }

   .download__title {
      font-size: 24px;
   }

   .btn--long {
      min-width: 260px;
   }

   /*Footer*/
   .footer__inner {
      padding: 30px 0;
   }

   .footer__block {
      width: 100%;
      margin-bottom: 30px;
   }

   .footer__block:last-child {
      margin-bottom: 0;
   }

}

@media (max-width: 414px) {
   .reviews__img {
      right: -100px;
   }

   .header__logo {
      margin-right: 15px;
   }
}
















